<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</head>

<body>
  <!-- home page -->
  <div class="home " id="home">
    <nav class="navbar navbar-expand-lg   fixed-top">
      <div class="container-fluid row">
        <a class="navbar-brand text-white col-3 text-center me-lg-4" href="#">Hand Gesture Recognition</a>

        <div class="collapse navbar-collapse col-5  ms-5 ps-5" id="navbarNavDropdown">
          <ul class="navbar-nav text-center">
            <li class="nav-item">
              <a class="nav-link active text-white px-5" aria-current="page" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white px-5" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white px-5" href="#tutorial">Tutorial</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white px-5" href="#help">Help</a>
            </li>
          </ul>
        </div>

        <div class="col-1">
          <div id="g_id_onload"
            data-client_id="775954644880-fhnm2a4mnmgr3g3pjm0qpbobefe0m4lp.apps.googleusercontent.com"
            data-auto_prompt="true" data-callback="loginCallback">
          </div>
          <div class="g_id_signin" data-type="standard" data-size="large" data-theme="outline" data-text="signin"
            data-shape="pill" data-logo_alignment="left">
          </div>
        </div>
      </div>
    </nav>
    <div class="layer"></div>
    <div class=" content w-25 text-white">
      <h1>Hand Gesture</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae ea dolores, quasi pariatur labore sint quod
        doloremque non esse </p>

      <button class="btn" onclick="window.location.href='/login'">Login</button>
      <button class="btn" onclick="window.location.href='/signin'">Signup</button>
    </div>
  </div>

  <!-- about -->
  <div class="container " id="about">
    <div class=" larger shadow bg-light  my-md-5 p-5 ">
      <div class="row  ">
        <div class="col-6 mt-4 ">
          <div class="  text-center">
            <img src="{{ url_for('static', filename='image/pexels-photo-4240578 (1).webp') }}" class="w-100 shadow-lg">
          </div>
        </div>
        <div class="col-6  mt-4">
          <div class="row">
            <h2>Gesture </h2>
            <p class=" text-secondary  p  ">

              Gesture recognition is the process of interpreting human gestures via mathematical algorithms. Gestures
              can be any physical movement or action that conveys information, often involving the hands, arms, body,
              face, or even eye movements. Gesture recognition technology enables computers to understand and respond to
              human gestures, opening up possibilities for intuitive human-computer interaction.


            </p>

            <p class=" text-secondary   p">
              Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor eget felis porttitor
              volutpat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. porttitor at sem.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- tutorial -->
  <div class="tutorial container bg-light" id="tutorial">
    <h1 class="text-center fw-bold pt-5">Tutorial</h1>
    <div class="row p-5 g-4">
      <div class="monda w-25 h-25 col-1">
        <span class="remonda text-center bg-dark text-white">Be Careful</span>
        <img src="{{ url_for('static', filename='tutorial/be cerfull.png') }}" class="w-100 img">
      </div>

      <div class="monda w-25 h-25 col-1">
        <span class="remonda text-center bg-dark text-white">Peace</span>
        <img src="{{ url_for('static', filename='tutorial/beace.png') }}" class="w-100 img">
      </div>

      <div class="monda w-25 h-25 col-1">
        <span class="remonda text-center bg-dark text-white">I'm busy</span>
        <img src="{{ url_for('static', filename='tutorial/beasy.png') }}" class="w-100 img">
      </div>

      <div class="monda w-25 h-25 col-1">
        <span class="remonda text-center bg-dark text-white">I'm cold</span>
        <img src="{{ url_for('static', filename='tutorial/coold.png') }}" class="w-100 img">
      </div>

      <div class="monda w-25 h-25 col-1">
        <span class="remonda text-center bg-dark text-white">Don't Worry</span>
        <img src="{{ url_for('static', filename='tutorial/dont warry.png') }}" class="w-100 img">
      </div>

      <div class="monda w-25 h-25 col-1">
        <span class="remonda text-center bg-dark text-white">Excuse me</span>
        <img src="{{ url_for('static', filename='tutorial/excuseme.png') }}" class="w-100 img">
      </div>

      <div class="monda w-25 h-25 col-1">
        <span class="remonda text-center bg-dark text-white">I am fine</span>
        <img src="{{ url_for('static', filename='tutorial/fine.png') }}" class="w-100 img">
      </div>

      <div class="monda w-25 h-25 col-2">
        <span class="remonda text-center bg-dark text-white">good bye</span>
        <img src="{{ url_for('static', filename='tutorial/good bye.png') }}" class="w-100 img">
      </div>

      <div class="monda w-25 h-25 col-2">
        <span class="remonda text-center bg-dark text-white">good luck</span>
        <img src="{{ url_for('static', filename='tutorial/good luck.png') }}" class="w-100 img">
      </div>

      <div class="monda w-25 h-25 col-2">
        <span class="remonda text-center bg-dark text-white">good morning</span>
        <img src="{{ url_for('static', filename='tutorial/good morning.png') }}" class="w-100 img">
      </div>

      <div class="monda w-25 h-25 col-2">
        <span class="remonda text-center bg-dark text-white">good night</span>
        <img src="{{ url_for('static', filename='tutorial/good night.png') }}" class="w-100 img">
      </div>

      <div class="monda w-25 h-25 col-2">
        <span class="remonda text-center bg-dark text-white">Hello</span>
        <img src="{{ url_for('static', filename='tutorial/hello.png') }}" class="w-100 img">
      </div>
      <div class="monda w-25 h-25 col-2">
        <span class="remonda text-center bg-dark text-white">Help</span>
        <img src="{{ url_for('static', filename='tutorial/help.png') }}" class="w-100 img">
      </div>
      <div class="monda w-25 h-25 col-2">
        <span class="remonda text-center bg-dark text-white">I am Hot</span>
        <img src="{{ url_for('static', filename='tutorial/hot.png') }}" class="w-100 img">
      </div>
      <div class="monda w-25 h-25 col-2">
        <span class="remonda text-center bg-dark text-white">How are you</span>
        <img src="{{ url_for('static', filename='tutorial/how are you.png') }}" class="w-100 img">
      </div>
      <div class="monda w-25 h-25 col-2">
        <span class="remonda text-center bg-dark text-white">I am hungry</span>
        <img src="{{ url_for('static', filename='tutorial/hungry.png') }}" class="w-100 img">
      </div>
      <div class="monda w-25 h-25 col-2">
        <span class="remonda text-center bg-dark text-white">Hurry Up</span>
        <img src="{{ url_for('static', filename='tutorial/hurry.png') }}" class="w-100 img">
      </div>
      <div class="monda w-25 h-25 col-2">
        <span class="remonda text-center bg-dark text-white">I love You</span>
        <img src="{{ url_for('static', filename='tutorial/i love you.png') }}" class="w-100 img">
      </div>
      <div class="monda w-25 h-25 col-2">
        <span class="remonda text-center bg-dark text-white">Never mind</span>
        <img src="{{ url_for('static', filename='tutorial/nerver.png') }}" class="w-100 img">
      </div>
      <div class="monda w-25 h-25 col-2">
        <span class="remonda text-center bg-dark text-white">Nice To Meet You</span>
        <img src="{{ url_for('static', filename='tutorial/nice to.png') }}" class="w-100 img">
      </div>
      <div class="monda w-25 h-25 col-2">
        <span class="remonda text-center bg-dark text-white">NO</span>
        <img src="{{ url_for('static', filename='tutorial/no.png') }}" class="w-100 img">
      </div>
      <div class="monda w-25 h-25 col-2">
        <span class="remonda text-center bg-dark text-white">Not yet</span>
        <img src="{{ url_for('static', filename='tutorial/not yet.png') }}" class="w-100 img">
      </div>
      <div class="monda w-25 h-25 col-2">
        <span class="remonda text-center bg-dark text-white">gesture</span>
        <img src="{{ url_for('static', filename='tutorial/of cuorse.png') }}" class="w-100 img">
      </div>
      <div class="monda w-25 h-25 col-2">
        <span class="remonda text-center bg-dark text-white">please</span>
        <img src="{{ url_for('static', filename='tutorial/please.png') }}" class="w-100 img">
      </div>
      <div class="monda w-25 h-25 col-2">
        <span class="remonda text-center bg-dark text-white">Sorry</span>
        <img src="{{ url_for('static', filename='tutorial/sorry.png') }}" class="w-100 img">
      </div>
      <div class="monda w-25 h-25 col-2">
        <span class="remonda text-center bg-dark text-white">Stop</span>
        <img src="{{ url_for('static', filename='tutorial/stop.png') }}" class="w-100 img">
      </div>
      <div class="monda w-25 h-25 col-2">
        <span class="remonda text-center bg-dark text-white">thanks</span>
        <img src="{{ url_for('static', filename='tutorial/thanks.png') }}" class="w-100 img">
      </div>
      <div class="monda w-25 h-25 col-2">
        <span class="remonda text-center bg-dark text-white">I am thirsty</span>
        <img src="{{ url_for('static', filename='tutorial/thirity.png') }}" class="w-100 img">
      </div>
      <div class="monda w-25 h-25 col-2">
        <span class="remonda text-center bg-dark text-white">Wait</span>
        <img src="{{ url_for('static', filename='tutorial/wait.png') }}" class="w-100 img">
      </div>
      <div class="monda w-25 h-25 col-2">
        <span class="remonda text-center bg-dark text-white">Yes</span>
        <img src="{{ url_for('static', filename='tutorial/yes.png') }}" class="w-100 img">
      </div>

    </div>
  </div>

  </div>

  <!-- help -->
  <div class="help" id="help">
    <div class="faq w-100 h-50 mt-2">
      <div class="container">
        <div class="row">
          <div class="col-6 py-lg-5 ps-lg-5">
            <h2>FAQs</h2>
            <p>are a compilation of common inquiries and their respective answers regarding a particular topic, product,
              service, or organization. They are often created to provide users with quick access to information and
              address recurring queries efficiently. FAQs can cover a wide range of topics, from technical support and
              product features to policies and general information.
            </p>
          </div>
          <div class="col-6">
            <img src="{{ url_for('static', filename='image/FAQ.webp') }}" class="p-5 ps-lg-5 w-75">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <img src="{{ url_for('static', filename='image/qqqqqqqqqqqqq.jpg') }}" class="w-50 ps-lg mt-lg-5 ms-lg-4">
      </div>

      <div class="col-6">
        <h2 class="py-lg-5">Questions</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          <i class="fa-solid fa-angle-down icon ps-lg-5 ms-xxl-5 " onclick="showResult()"></i>
        <div id="result" style="display: none;">
          <h2 id="answer"></h2></div>
          </p>

          <hr class="w-75">
            
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <i class="fa-solid fa-angle-down icon ps-lg-5 ms-xxl-5 "></i> <div id="result" style="display: none;">
              <h2 id="answer"></h2></div>
          </p>
          <hr class="w-75">

          <p class=" ">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <i class="fa-solid fa-angle-down icon ps-lg-5 ms-xxl-5 "></i> <div id="result" style="display: none;">
              <h2 id="answer"></h2></div>
          </p>
          <hr class="w-75">
        </div>
      </div>
    </div>

    <!-- team member -->
    <!-- <div class="team ">
    <div class="bg-light h-50 py-lg-5 text-center">
      <h2>Team Member</h2>
    </div>
  </div>
  <div id="carouselExampleCaptions" class="carousel slide  text-center  h-50 p-5  bg-danger" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>

    </div>
    <div class="carousel-inner ">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-6 d-flex justify-content-center ">
            <img src="image/monda.jpg" class=" w-50 h-">
          </div>
          <div class="col-6 d-flex justify-content-center">
            <img src="image/hassan.jpg" class=" w-50 ">
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="image/testimonial-4.jpg" class=" rounded-circle">
      <div class="carousel-caption ">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>

  </div>
  </div> -->

    <!-- fouter -->
    <div class="fouter mt-lg-4">
      <div class="end p-4 text-center  ">
        <p>© Copyright <span>Hand Gesture</span>. All Rights Reserved</p>
        <p> Designed by BootstrapMade</p>
      </div>
    </div>

    <!-- script -->
    <script src="https://accounts.google.com/gsi/client" async></script>
    <script>
      function loginCallback(response) {
        window.location.href = "camera.html";
        console.log(response)
      }
    </script>
    <script>

      document.getElementById("Buttonn").addEventListener("click", function () {
        // alert("Button clicked!");
        window.location.href = 'signin.html'
      });


      document.getElementById("myButton").addEventListener("click", function () {

        // alert("Button clicked!");
        window.location.href = 'login.html'
      });
    </script>

    <script>
      function showResult() {
        var resultDiv = document.getElementById("result");
        var answerPara = document.getElementById("answer");
        var button = document.querySelector("i");

        if (resultDiv.style.display === "none") {
          resultDiv.style.display = "block";
          answerPara.innerHTML = "??"; // Change this to the actual result you want to display

        } else {
          resultDiv.style.display = "none";

        }
      }

    </script>

</body>

</html>